APP_NAME="Bankey Web API"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

BANK_PROVIDER=bankak
BANK_MODE=mock
BANKAK_BASE_URL=
BANKAK_API_PATH=/mfmbs/mbintf/ina/processapirequest.jsp
BANKAK_CONNECT_TIMEOUT=10
BANKAK_TIMEOUT=30
BANKAK_VERIFY_SSL=true
